.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: start;
  margin: 49px auto 0 188px;
}

.list {
  list-style-type: none;
  margin: 0 129px 0 0;
  padding: 0;
}

.description {
  width: 630px;
  line-height: 21.79px;
}

.text {
  margin: 0;
}

.figure {
  display: flex;
  gap: 8px;
  margin: 0 0 24px 0;
}

.figure:last-of-type {
  margin: 0 0 32px 0;
}

@media screen and (max-width: 768px) {
  .info {
    flex-wrap: wrap;
    margin: 32px 16px;
  }

  .list {
    margin: 0;
  }

  .description {
    width: 343px;
    margin: 0 auto;
  }
}
