.button {
  display: block;
  position: absolute;
  height: 40px;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid #F8F8F8;
  background: transparent;
  font-size: 16px;
  color: #F8F8F8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button {
    display: none;
  }
}
