.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 48px 0 55px;
}

.card {
  position: relative;
  width: 305px;
  height: 263px;
  box-shadow: 0px 0.996045px 3.98418px rgba(51, 51, 51, 0.15);
  border-radius: 10px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 0;
  margin-top: 36px;
  font-size: 20px;
  color: #151317;
  text-decoration: none;
  cursor: pointer;
}

.avatar {
  width: 124px;
  height: 124px;
  border-radius: 62px;
}

.like {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 28px;
  margin: 0;
  background-image: url(../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F8F8F8;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.like.active {
  background-image: url(../../images/like-active.svg);
}

.buttonMore {
  display: flex;
  align-items: center;
  height: 40px;
  width: 170px;
  margin: 0 auto 67px;
  padding: 0 18px;
  background: url(../../images/arrow-bottom.svg) no-repeat;
  background-position-x: 132px;
  background-position-y: center;
  border-radius: 8px;
  border: 1px solid #151317;
  font-size: 16px;
  color: #151317;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cards {
    margin: 32px 0 33px;
  }
}
