.form {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 468px;
  border-radius: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  gap: 16px;
  background-color: white;
  color: #151317;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.title {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  color: #151317;
  cursor: default;
}

label {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

input {
  width: 403px;
  height: 48px;
  border: 0;
  border-radius: 8px;
  padding: 0px 48px 0 17px;
  background: #F8F8F8;
  color: #808185;
}

.inputContainer {
  width: 100%;
  position: relative;
}

.inputFigure {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  bottom: 11px;
  margin: 0;
  cursor: pointer;
}

.hidden {
  background: url(../../images/eye-visible.svg) no-repeat center;
}

.visible {
  background: url(../../images/eye-hidden.svg) no-repeat center;
}

.modalButton {
  height: 48px;
  border: 1px solid #151317;
  border-radius: 8px;
  margin-top: 8px;
  background: #F8F8F8;
  font-size: 16px;
  color: #151317;
  cursor: pointer;
}

.active {
  border: 0;
  background: #512689;
  color: #FFFFFF;
}

.errorInput {
  border: 1px solid #FF6161;
}

.errorText {
  font-size: 10px;
  color: #FF6161;
}

@media screen and (max-width: 768px) {
  .form {
    width: 343px;
  }

  input {
    width: 278px;
  }
}
