.header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 265px;
  gap: 16px;
  background: #512689;
}

.description {
  max-width: 846px;
  font-size: 20px;
  margin: 0;
  color: #F8F8F8;
  cursor: default;
}

.avatarContainer {
  position: fixed;
  width: 187px;
  height: 187px;
  top: 39px;
  left: 188px;
}

.avatar {
  position: absolute;
  left: 0;
  width: 187px;
  height: 187px;
  border-radius: 50%;
  object-fit: cover;
}

.avatarEdit {
  position: absolute;
  width: 34px;
  height: 34px;
  right: 0;
  bottom: 8px;
  background: url(../../images/edit.svg) center no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.parnterName {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 68px;
  left: 407px;
  gap: 16px;
}

.parnter {
  font-size: 32px;
  color: #FFFFFF;
  cursor: default;
}

.backImage {
  display: none;
}

.exitImage {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    height: fit-content;
    padding: 64px 0;
  }

  .description {
    max-width: 334px;
    font-size: 16px;
  }

  .backImage {
    display: block;
    position: absolute;
    top: 25px;
    left: 33px;
    border: 0;
    padding: 0;
    background: transparent;
  }

  .avatarContainer {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
  }

  .parnterName {
    position: inherit;
    align-items: center;
    margin-bottom: 16px;
  }

  .parnter {
    font-size: 20px;
  }

  .exitImage {
    display: block;
    position: absolute;
    top: 23px;
    right: 27px;
    border: 0;
    padding: 0;
    background: transparent;
  }
}
