.header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 64px 0;
  gap: 16px;
  background: #512689;
}

h1 {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
  color: #FFFFFF;
  cursor: default;
}

.description {
  width: 846px;
  font-size: 20px;
  margin: 0;
  color: #F8F8F8;
  cursor: default;
}

.user {
  display: flex;
  text-align: left;
  gap: 32px;
  margin: -25px 0 -25px -468px;
}

.avatar {
  width: 187px;
  height: 187px;
  border-radius: 50%;
}

.parnterName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.parnter {
  font-size: 32px;
  color: #FFFFFF;
  cursor: default;
}

.backImage {
  display: none;
}

.exitImage {
  display: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  .description {
    width: 334px;
    font-size: 16px;
  }

  .user {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding-left: 0;
    margin: 0;
  }

  .backImage {
    display: block;
    position: absolute;
    top: 25px;
    left: 33px;
    border: 0;
    padding: 0;
    background: transparent;
  }

  .avatar {
    width: 187px;
    height: 187px;
    border-radius: 50%;
  }

  .parnter {
    font-size: 20px;
  }

  .exitImage {
    display: block;
    position: absolute;
    top: 23px;
    right: 27px;
    border: 0;
    padding: 0;
    background: transparent;
  }
}
