.header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 265px;
  gap: 16px;
  background: #512689;
}

.user {
  display: flex;
  text-align: left;
  gap: 32px;
  padding-left: 188px;
}

.avatar {
  width: 187px;
  height: 187px;
  border-radius: 50%;
}

.parnter {
  font-size: 32px;
  color: #FFFFFF;
  cursor: default;
}

.backImage {
  display: none;
}

.exitImage {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    height: 412px;
  }

  .user {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-left: 0;
  }

  .backImage {
    display: block;
    position: absolute;
    top: 25px;
    left: 33px;
  }

  .avatar {
    width: 187px;
    height: 187px;
    border-radius: 50%;
  }

  .parnter {
    font-size: 20px;
  }

  .exitImage {
    display: block;
    position: absolute;
    top: 23px;
    right: 27px;
  }
}
