body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  text-align: start;
  font-size: 64px;
  font-weight: 400;
  margin: 0;
  color: #FFFFFF;
  cursor: default;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}
