.modalButton {
  height: 48px;
  border: 1px solid #151317;
  border-radius: 8px;
  margin-top: 8px;
  background: #F8F8F8;
  font-size: 16px;
  color: #151317;
  cursor: pointer;
}

.active {
  border: 0;
  background: #512689;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 343px;
  }
}
